language: python

python:
  - "3.6"
  - "3.4"
  - "3.3"
  - "2.7"
  - "2.6"
  - "pypy"

env:
  - AWS_SECRET_ACCESS_KEY=fake_key AWS_ACCESS_KEY_ID=fake_id

before_install:
  - pip install six==1.9.0

install:
  - pip install -r requirements-dev.txt

script:
  - py.test --cov-report term-missing --cov=pynamodb pynamodb/tests/

after_success:
  - coveralls

