# It turns out we "actually" require >=1.6.0 for folks on Python 3.6 because of:
#
#   https://github.com/boto/botocore/issues/1079
#
# This was discovered as a result of integration tests that exercised boto. However, until 4.x
# we didn't want to bump the actual dependency of the library for consumers as it would effectively
# be a breaking change. As a result, we use the 1.6.0 dependency for development here for the
# purpose of integration tests, even though requirements.txt still has 1.2.0.
botocore==1.11.4
six==1.10.0
coverage==4.5.3
mock==2.0.0
pytest==4.4.0
pytest-cov==2.6.1
pytest-mock==1.6.0
python-coveralls==2.9.1
tox==3.8.6
blinker==1.4
flake8==2.4.1
pyyaml<5  # for Python 2.6 support -- remove once we cease Python 2.6 support
# Pinned because latest version requires Python 2.7+ (https://github.com/sphinx-doc/sphinx/issues/2919).
sphinx==1.5.6
sphinx-rtd-theme==0.1.8
mypy==0.700; python_version >= '3.6'
