mock
pytest
pytest-mock

# Due to https://github.com/boto/botocore/issues/1872. Remove after botocore fixes.
python-dateutil==2.8.0

# only used in .travis.yml
coveralls
mypy==0.740;python_version>="3.7"
pytest-cov
