name: Release

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      test_pypi_api_token:
        description: 'Test PyPI API token'
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        python -m pip install -e .[signals] -r requirements-dev.txt

    - name: Build packages
      run: |
        python setup.py sdist bdist_wheel

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: ${{ github.event_name == 'release' }}
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}

    - name: Publish to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: ${{ github.event_name == 'workflow_dispatch' }}
      with:
        password: ${{ inputs.test_pypi_api_token }}
        repository_url: https://test.pypi.org/legacy/
        skip_existing: true
